.App {
  text-align: center;
  position: relative;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.video-info {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  color: white;
  overflow: hidden;
  /*background-color: #0086b3;*/
}

.video-info-bg{
  width: 100%;
  height: 100%;
}

.video-info-textArea{
  position: absolute;
  bottom:50px;
  width: 70%;
<<<<<<< HEAD
  height: 150px;
  text-align: left;
  left: 10px;
  overflow: hidden;
=======
  text-align: left;
  left: 10px;
  overflow: hidden;
  z-index: 1;
>>>>>>> developer
}

.video-info-userName{
  color: white;
}

.video-info-text{
<<<<<<< HEAD
  margin-top: 5px;
=======
  margin-top: 10px;
>>>>>>> developer
  color: white;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
}

<<<<<<< HEAD
.video-info-music{
  position: absolute;
  bottom: 20px;
=======
.video-info-musicLogo{
  transform: translate(5px,-20px);
  display: inline-block;
}
.video-info-musicArea{
  display: inline-block;
  overflow: hidden;
  margin-left: 20px;
  width: 50%;
}
.video-info-music{
  margin-top: 10px;
  margin-bottom: 15px;
  margin-left: 10px;
>>>>>>> developer
  color: white;
  animation: 10s wordsLoop linear infinite normal;
}
@keyframes wordsLoop {
  0% {
<<<<<<< HEAD
      transform: translateX(500%);
      -webkit-transform: translateX(500%);
=======
      transform: translateX(100%);
      -webkit-transform: translateX(100%);
>>>>>>> developer
  }
  100% {
      transform: translateX(-100%);
      -webkit-transform: translateX(-100%);
  }
}

.video-info-MusicCircle{
<<<<<<< HEAD
=======
  z-index: 1;
>>>>>>> developer
  position: absolute;
  bottom:50px;
  right: 10px;
  background-color: #fff;
  color: #000;
  height: 50px;
  width: 50px;
  border-radius: 25px;
  animation: 10s rotateThis linear infinite normal;
}
@keyframes rotateThis {
  0% {
    -webkit-transform:rotate(0deg);
    transform:rotate(0deg);
  }
  100% {
    -webkit-transform:rotate(360deg);
    transform:rotate(360deg);
  }
}